html{
  font-family:'Drafting* Mono';
  margin: 0;
  min-height: 100%;
}

body{
  margin: 0;
  min-height: 100%;
  min-width: 100%;
}

img {
  user-select: none; 
  pointer-events: none; 
}

p{
  margin: 0;
}

button{
  font-family:'Drafting* Mono';
}

.container{
  display: grid;
  grid-template-columns: minmax(0, 0.25fr) minmax(0, 1fr);
  grid-template-rows: auto 1fr auto;
  width: clamp(1300px, 99vw, 99vw);
  height: 100%;
}
.sidebar{
  background-color: rgb(132, 24, 14); 
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  height: 100%;
}

.sidebar-items{
  margin-left: 4%;
  gap: 3.5rem;
  display: flex;
  flex-direction: column;
  
}
.dashboard{
  display: flex;
  gap: 8px;
  align-items: center;
  margin-right: 2%;
  margin-top: 0.8rem;
}

.dashboard img{
  width: 3rem;
  height: 3rem;
  vertical-align: middle;
  filter: invert(1);
}

.dashboard h1{
  color: white;
  margin: 0;
}

.first-contents, .second-contents{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: max-content;
}

.sidebar-content{
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 1.5rem;
}

.sidebar-content img{
  width: 1.3rem;
  height: 1.3rem;
  filter: invert(1);
}

.sidebar-content p{
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
}

.header{
  display: flex;
  justify-content:center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  gap: 2%;
  grid-column: 2;
  grid-row: 1 / 2;
  max-width: 100%;
  width: clamp(20vw, 100vw, 100vw);
  margin-top: 5px;
}

.search-icon img {
  width: 1.5rem;  
  height: 1.5rem;  
  vertical-align: middle;
  margin-right: auto;
}

.search-icon input {
  border-radius: 40px;
  background-color: rgb(226,232,240);
  border: 0;
  width: clamp(20vw, 40vw, 60vw);
  height: 2rem;
}

.notif-icon{
  margin-left: 10rem;
  margin-right: 10px;
  vertical-align: middle;
}

.notif-icon img{
  height: 1.5rem;
  width: 1.5rem;
}
.profile-pic img{
  height: 3rem;
  width: 3rem;
  border-radius: 30px;
}

.profile-name p {
  font-weight: bold;
}

main{
  grid-row: 2 / 4;
  background-color: rgb(226,232,240);
  min-height: 100vh;
  height: auto;
}

.top-bar{
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  padding: 20px 10px;
  grid-row: 2 / 3;
}

.hero{
  display: flex;
  align-items: center;
  margin-left: 3rem;
  gap: 1rem;
}

.hero-pic img{
  width: 4rem;
  height: 4rem;
  border-radius: 30px;
}

.greeting{
  display: flex;
  flex-direction: column;
  gap: 0.5px;
  margin: 0;
}

.greeting-text{
  font-weight: bold;
  padding-bottom: 10px;
  margin: 0;
}

.two{
  font-size: 1.8rem;
}

.hero-buttons{
  display: flex;
  gap: 2rem;
  margin-right: 8rem;
}

.button{
  border-radius: 20px;
  background-color: rgb(132, 24, 14); 
  border: none;
  color: white;
  padding: 10px 30px;
  font-weight: bold;
}

.main-content{
  grid-row: 2 / 3;
  margin-left: 2rem;
  margin-top: 2rem; 
}


.main-content{
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  grid-template-rows: 54% 45%;
  padding-bottom: 55px;
  gap: 10px;
  align-items: self-end
}

.main-h1{
  font-size: 1.5rem;
}

.latest-post{
  width: clamp(100%, 900px, 100%);
  grid-row: 1 / 3;
  grid-column: 1/ 2;
}

.project-items{
  display: grid;
  grid-template-columns: repeat(2, 55%);
  grid-template-rows: repeat(3, 1fr);
  gap: 25px;
  width: 85%;
  padding-right: 0;
}

.project-container{
  background-color: white;
  border-left: 5px solid rgb(252, 189, 0);
  height: 12rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  height: 100%;
  display: grid;
  grid-template-rows: 0.1fr 2fr 1fr;
  grid-template-columns: 1fr;
  align-self: stretch;
}

.pro-one,.pro-two,.pro-three,.pro-four,
.pro-five,.pro-six{
  margin-left: 4%;
  margin-right: 2%;
}

.project-header{
  font-size: 1.3rem;
  font-weight: bold;
  height: 1.2rem;
  padding-top: 30px;
  padding-bottom: 5px;
}

.project-description{
  font-size: 1rem;
}

.project-icon{
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 0.8rem;
}

.project-img{
  width: 20px;
  height: 20px;
}

.announcements{
  margin-bottom: 0;
  padding-bottom: 0;
  align-self: start;
  padding-top: 0;

}

.announcements-list{
  background-color: white;
  margin-right: 30px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}
.announcements-text{
  padding: 30px;
  padding-bottom: 10px;
  font-size: 0.9rem;
}

.announcements-header{
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 5px;
}

hr{
  width: 85%;
  margin-bottom: 0 ;
}

.desc-last{
  padding-bottom: 20px;
}

.houses-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background-color: white;
  margin-right: 30px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.houses-text p{
  font-size: 0.6rem;
  text-align: center;
}

.house-name{
  font-weight: bold;
}

.houses-content{
  display: grid;
  place-items: center; 
  padding: 15px;
}

.houses-img img{
  width: 3rem;
  height: 3.3rem; 
}